/* OM Namah Shivay */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/* containers */

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.box1{
    display: none;
}

.box2{
    width: 35rem;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.loginBox{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(219,219,219);
    border-radius: 0.1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;

    padding: 2rem 0;
}


.logo{
    object-fit: cover;
    object-position: 0px -51px;
    width: 175px;
    height: 51px;
    background-repeat: no-repeat;  
    margin: 2rem; 
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 4rem; 
    width: 100%;
}


.input, .logbtn{
    width: 100%;
    padding: 1.1rem;
    border-radius: 0.5rem;
    border: none;
}

.input{
    border: 1px solid #acacac;
    background-color: rgba(240, 240, 240, 0.815);
    font-size: 1.2rem;
    outline: none;
}

.input:focus{
    border: 1px solid #929292;
}

.logbtn{
    background-color: #2e9ee9;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 1rem;
    padding: 0.9rem;
}

.logbtn:hover{
    background-color: #2897e0;
}

.division{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 4rem;
    color: rgb(134, 134, 134);
}

.hr{
    width: 100%;
    border: none;
    border-top: 1px solid rgba(134, 134, 134, 0.705);
    margin-top: 10px;
}

.or{
    margin: 0 3rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(109, 108, 108);
}

.logfb{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.logfb__icon{
    width: 16px;
    height: 16px;
    background-image: url('https://static.cdninstagram.com/rsrc.php/v3/y5/r/TJztmXpWTmS.png');
    background-repeat: no-repeat;
    background-position: -414px -259px;
    height: 16px;
    width: 16px;
}

.logfb__link{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    color: #1f3ea1;
}
.forget-password{
    margin: 1rem;
    color: #2040aa;
    text-decoration: none;
    font-size: 1.2rem;
}

.signupBox{
    width: 100%;
    padding: 2rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(219,219,219);
}
.signup{
    text-decoration: none;
    border-radius: 0.1rem;
    font-weight: bold;
    color: #248ace;
}


.getAppBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.store{
    width: 13.6rem;
}

.getAppBox-container{
    display: flex;
    gap: 0.7rem;
    padding-bottom: 1rem;
}

@media only screen and (min-width: 890px){
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8rem;
    }

    .box1{
        height: 59.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1.2rem;
        position: relative;
    }
    .photo2{
        max-width: 253px;
        height: 545px;
        object-fit: cover;
        position: absolute;
        right: 58px;
        top: 10px;
        border-radius: 23px;
    }
}